{% extends "layouts/base.html" %}

{% block body %}
<div id="header">
	<div class="ie-hack">
		<h1><a href="/">YJIR</a></h1>
		<p>Youth Journalist Information Resouce</p>
		
		<!-- send a test message to kannel,
		     to test the separate backend -->
		<form action="/yjir/backend-test" method="post">
			<input class="text" type="text" name="msg">
			<input class="submit" type="submit" value="Test">
		</form>
	</div>
</div>

{% block content %}{% endblock %}

<div id="footer">
	<p class="rights">
		Copyright &copy; 2008 UNICEF. All Rights Reserved. This
		<a href="http://www.gnu.org/philosophy/free-sw.html">Free Software</a> is available under
		the <a href="http://www.fsf.org/licensing/licenses/agpl-3.0.html">AGPL v3</a> (or later)
	</p>
</div>
{% endblock %}

