{% extends "layouts/common.html" %}

{% block content %}
<form action="" method="post" autocomplete="off">
	<h1>{% if instance %}Edit{% else %}Add{% endif %} an Action</h1>{% for field in form %}
	
	<div id="{{ field.name }}">
		{{ field.label_tag }}
		{{ field }}
		{% if field.errors %}{{ field.errors }}{% endif %}
	</div>{% endfor %}
	
	<div{% if not show_others %} class="with-js-hide"{% endif %}>
		<label>Other Recipients</label>
		<div id="recipients">{% for recipient in recipients %}
			<div{% if not recipient.dest %} class="with-js-hide"{% endif %}>{% if recipient.pk %}
				<input type="hidden" name="recip_{{ forloop.counter }}_pk" value="{{ recipient.pk }}" />{% endif %}
				<select name="recip_{{ forloop.counter }}_type">
					<option{% ifequal recipient.type "sms" %} selected="selected"{% endifequal %} value="sms">SMS</option>
					<option{% ifequal recipient.type "ivr" %} selected="selected"{% endifequal %} value="ivr">Phone Call</option>
					<option{% ifequal recipient.type "email" %} selected="selected"{% endifequal %} value="email">Email</option>
				</select>
				<input type="text" name="recip_{{ forloop.counter }}_dest" value="{{ recipient.dest }}" />
			</div>{% endfor %}
		</div>
	</div>
	
	<script type="text/javascript">
		window.addEvent ("domready", function() {
			
			/* create a button to add another recipient field
			 * via javascript (rather than in the tmpl), because
			 * its dependant on JS. if JS is disabled, all of
			 * the recipient fields are displayed */
			var others = new Element("input", {
				"type": "button",
				"value": "Add Recipient",
				"events": {
					"click": function() {
						/* make sure the recipients group is visible */
						$("recipients").getParent().removeClass("with-js-hide");
						
						/* reveal the next type/destination pair, if any
						 * remain hidden */
						var divs = $$("#recipients div.with-js-hide");
						if (divs.length) divs[0].removeClass("with-js-hide");
						
						/* fire resize in case we're in a
						 * lightbox which needs to rejig */
						window.fireEvent("resize");
					}
				},
				"styles": {
					"position": "absolute",
					"left": "-9999px"
				}
			}).inject("reply_via");
			
			/* position the recipients button just above
			 * the payload txta, to keep it out the way */
			window.addEvent ("resize", function() {
				var coords = $("id_payload").getCoordinates();
				others.setStyle("left", (coords.left + coords.width) - others.getSize().x);
			}).fireEvent("resize");
		});
	</script>
	
	<div class="submit">
		<input type="submit" name="submit" value="Submit">
		<input type="submit" name="submit" value="Submit + Test">
		{% if instance %}<input type="submit" name="delete" value="Delete">{% endif %}
		<input type="submit" value="Cancel">
		<div class="clear-hack"></div>
	</div>
</form>
{% endblock %}

