{% extends "layouts/common.html" %}

{% block content %}
<div id="columns">
	<div class="column users">
		<div class="col-hack">
			<h2>Users</h2>
			<div class="add"><a href="/yjir/users/add" title="Add a User" accesskey="u">Add</a></div>
			
			{# are there any users to display? #}
			{% if users %}
				<ul id="users">
					
					{# list all users #}
					{% for user in users %}
						<li><a href="/yjir/users/{{ user.pk }}/edit">
							{% if user.name %}{{ user.name }}{% endif %}
							{% if user.phone_number %}{{ user.phone_number }}{% endif %}
							{% if user.email_address %}{{ user.email_address }}{% endif %}
						</a></li>
					{% endfor %}
				</ul>
				
			{% else %}
				{# no users in the database #}
				<div class="notice">
					<p>(<a href="/yjir/users/add" title="Add a User">add a user</a>)</p>
				</div>
			{% endif %}
		</div>
	</div>
</div>

{# ie6 needs a bit (okay, a lot) of help to make this layout work #}
{#[if IE 6]><scriptx type="text/javascript" src="/static/js/fix-layout-ie6.js"></script><![endif]#}
{% endblock %}

